<ion-header>
  <ion-navbar>
    <ion-title>Routine Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [hidden]="!showDelete" (click)="deleteRoutine($event)">
        <ion-icon name='md-trash'></ion-icon>
      </button>
      <!-- <button ion-button icon-only [hidden]="!showDelete" (click)="cancelRoutineDelete($event)">Cancel</button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="devices" segment-activated>Devices</ion-segment-button>
    <ion-segment-button value="rules">Rules</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'devices'" >
      <ion-card >
        <ion-list>
          <ion-item-group>
              <ion-item class="ion-header">
                <ion-label>Select Rooms</ion-label>
                 <ion-select multiple #newSelect [(ngModel)]="selectedList" >
                   <ion-option *ngFor="let eachRoom of roomList" [value]="eachRoom" >{{eachRoom.name}}</ion-option>
                 </ion-select>
              </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-list no-border>
          <ion-item *ngFor="let selected of selectedList">
            <ion-avatar item-left ><img src='{{selected.icon}}'></ion-avatar>
            {{selected.name}}
            <ion-badge item-right>{{selected.state}}</ion-badge>
            <ion-note item-right>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div *ngSwitchCase="'rules'">
      <ion-card>
        <ion-item-group>
            <ion-item>test 2</ion-item>
        </ion-item-group>
      </ion-card>
    </div>
  </div>
</ion-content>
